<mat-table [datasource]="datasource">
  
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.No}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matcellDef="let element">{{element.Name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedcolumns"></mat-header-row>
  <mat-row *matRowDef ="letrow; columns: displayedcolumns"></mat-row>
</mat-table>