<mat-table [dataSource]="datasource">
  
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef > No </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedcolumns"></mat-header-row>
  <mat-row *matRowDef ="let row; columns: displayedcolumns"></mat-row>
</mat-table>