
<mat-card fxFlex="90%">
<mat-card-title>
  <h3>USERS TABLE</h3>
</mat-card-title>  

<mat-table [dataSource]="datasource" class="mat-elevation-z8">

  
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef > No </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef > Address </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
  </ng-container> 
  
  <ng-container matColumnDef="phoneno">
    <mat-header-cell *matHeaderCellDef > PhoneNo </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.phoneno}}</mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedcolumns"></mat-header-row>
  <mat-row *matRowDef ="let row; columns: displayedcolumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[3, 5]" showFirstLastButtons></mat-paginator>
</mat-card>

